<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

	<title>Add or Update Employee</title>
</head>

<body>
<div class="container">
	<h3 style="margin-top:20px;">Add or Update Employee</h3>
	
	<hr>
	<br>
	
	<form  action="#" th:action="@{/save}" th:object="${employee}" method="POST">
  
			<input type="hidden" th:field="*{id}"/>
		
			<input type="text" th:field="*{firstName}" class="form-control mb-4 col-4" placeholder="First name">
			<input type="text" th:field="*{lastName}" class="form-control mb-4 col-4" placeholder="Last name">
			<input type="text" th:field="*{email}" class="form-control mb-4 col-4" placeholder="Email">
  <br> <br>
  <button type="submit" class="btn btn-primary">Save</button>
</form>
<br>
<a th:href="@{/employees}">Back to employee list</a>
</div>
</body>

</html>